In [5]:
data

        user  item  rateing  timestamps
0          1    32        4   978300019
1          1    23        5   978300055
2          1    28        4   978300055
3          1    38        5   978300055
4          1    25        3   978300103
...      ...   ...      ...         ...
999411  6040  1273        4   997454429
999412  6040   289        4   997454464
999413  6040   165        3   997454464
999414  6040   462        3   997454486
999415  6040   435        4   998315055

[999416 rows x 4 columns]

In [1]:
import pandas as pd
file_path = '../datasets/ratings.dat'
names = ['user', 'item', 'rateing', 'timestamps']
data = pd.read_csv(file_path, header=None, sep='::', names=names)
p = data.groupby('item')['user'].count().reset_index().rename(columns={'user':'item_count'})

data = pd.merge(data,p,how='left',on='item')
data = data[data['item_count'] > 5].drop(['item_count'],axis=1)
data.sort_values(by=['user', 'timestamps'], ascending=True, inplace=True)
data.drop(['rateing','timestamps'], axis=1, inplace=True)
data.to_csv('ml-1m/ml-1m.txt', sep=' ', index=False,header=None)
movies = pd.read_table('movies.dat',
                    sep='::',
                    header=None,
                    engine='python')
movie_dict = {}
for i in range(len(movies)):
    movie_dict[movies[0][i]] = movies[2][i]

C:\Users\WH\anaconda3\envs\tf\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [5]:
data.reset_index(inplace=True)

In [6]:
for i in range(len(data)):
    if data['item'][i] not in movie_dict.keys():
        data['item'][i] = -1

data.drop(data[data['item'] == -1].index, inplace=True)

In [8]:
for i in range(len(data)):

    data['item'][i] = movie_dict[data['item'][i]]

C:\Users\WH\anaconda3\envs\tf\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
data.drop(['index'], axis=1, inplace=True)

In [12]:
data.to_csv('ml-1m/ml-1m-cat.txt', sep=' ', index=False, header=None)

In [10]:
movies

         0                                   1                             2
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy
...    ...                                 ...                           ...
3878  3948             Meet the Parents (2000)                        Comedy
3879  3949          Requiem for a Dream (2000)                         Drama
3880  3950                    Tigerland (2000)                         Drama
3881  3951             Two Family House (2000)                         Drama
3882  3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [26]:
for i in range(len(data)):

    data['item'][i] = movie_dict[data['item'][i]]

C:\Users\WH\anaconda3\envs\tf\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

KeyError: 6448

In [13]:
data

        user                          item
0          1                         Drama
1          1                 Comedy|Sci-Fi
2          1                 Drama|Romance
3          1  Animation|Children's|Musical
4          1                       Romance
...      ...                           ...
999411  6040                Crime|Thriller
999412  6040               Sci-Fi|Thriller
999413  6040                  Comedy|Drama
999414  6040            Drama|Thriller|War
999415  6040            Action|Crime|Drama

[999416 rows x 2 columns]

In [14]:
data['item'] = pd.factorize(data['item'])[0]

In [18]:
data['item'] = data['item']. map(lambda x: x + 1)

In [20]:
data.to_csv('ml-1m/ml-1m-cat-f.txt', sep=' ', index=False, header=None)

In [23]:
item = pd.read_table('ml-1m/ml-1m.txt',sep= " ",header=None)

In [25]:
item[1] = pd.factorize(item[1])[0]

In [27]:
item[1] = item[1].map(lambda x: x + 1)

In [29]:
item.to_csv('ml-1m/ml-1m-item-f.txt', sep=' ', index=False, header=None)

In [32]:
item.sort_values(by=[1])

           0     1
0          1     1
778236  4653     1
898404  5433     1
779145  4656     1
734567  4388     1
...      ...   ...
580252  3546  3377
446692  2753  3377
979560  5916  3377
850907  5111  3377
808775  4852  3377

[999416 rows x 2 columns]

In [33]:
cate = pd.read_table('ml-1m/ml-1m-cat-f.txt', sep=" ", header=None)

In [35]:
cate[1] = cate[1].map(lambda x: x + 3377)

In [37]:
cate.to_csv('ml-1m/ml-1m-cate-f++.txt', sep=' ', index=False, header=None)